@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 29 0% 95%;
    --foreground: 29 0% 0%;
    --card: 29 0% 90%;
    --card-foreground: 29 0% 10%;
    --popover: 29 0% 95%;
    --popover-foreground: 29 95% 0%;
    --primary: 29 92.8% 61.8%;
    --primary-foreground: 0 0% 0%;
    --secondary: 29 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -9 10% 85%;
    --muted-foreground: 29 0% 35%;
    --accent: -9 10% 80%;
    --accent-foreground: 29 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 29 0% 90%;
    --border: 29 20% 50%;
    --input: 29 20% 18%;
    --ring: 29 92.8% 61.8%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 29 10% 5%;
    --foreground: 29 0% 90%;
    --card: 29 0% 0%;
    --card-foreground: 29 0% 90%;
    --popover: 29 10% 5%;
    --popover-foreground: 29 0% 90%;
    --primary: 29 92.8% 61.8%;
    --primary-foreground: 0 0% 0%;
    --secondary: 29 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -9 10% 15%;
    --muted-foreground: 29 0% 60%;
    --accent: -9 10% 15%;
    --accent-foreground: 29 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 29 0% 90%;
    --border: 29 20% 18%;
    --input: 29 20% 18%;
    --ring: 29 92.8% 61.8%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
